#Container{
  background-color: black;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: black;
}

.ProjectImg{
  max-width: 500px;
  min-width: 250px;
}

.TextBackground{
  background-color: rgba(0, 0, 0, .7);
}